{% extends 'base.html.twig' %}

{% block title %}Liste des annonces{% endblock %}

{% block body %}
<div class="container mb-4">
<h2 class="mb-2">Nos annonces</h2>
    {% for offer in offers %}
        {% include "offer/_offer_card.html.twig" with {offer: offer}  %}
    {% endfor %}
</div>
    {{ knp_pagination_render(offers, null, {}, {
        'align': 'center',
        'size': 'small',
        'rounded': true,
        }) 
    }}
{% endblock body %}
