<div>
    <h2 class="mb-3">Mes demandes d'informations</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Titre de mon offre</th>
            <th scope="col">Créateur de la discussion</th>
            <th scope="col">Nombres de message</th>
            <th scope="col" class="text-center">🔎</th>
        </tr>
        </thead>
        <tbody>
        {% for application in applications %}
            <tr>
                <td>{{application.offer.title }}</td>
                <td>{{ application.user.name}}</td>
                <td>{{ application.messages|length }}</td>
                <td><a class="btn btn-primary" href="{{ path('app_offer',{id:application.offer.id}) }}">Voir l'annonce</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>